[type = "submit"] {
    margin-top: 1em;
}

a.place-link {
    display: block;
    text-align: center;
}

img.place-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a.in-text-link {
    text-decoration: underline;
    color:blue;
}