<div class="container px-4">

    <div class="row">
        <div class="col">
            <h1>Account</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Username: <%= @current_user["username"] %>
        </div>
    </div>

    <div class="row">
        <div class="col">
            First name: <%= @current_user["first_name"] %>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Last name: <%= @current_user["last_name"] %>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Email: <%= @current_user["email"] %>
        </div>
    </div>
    
</div>

