<div class="container">

  <div class="row gy-5">
    <div class="col-6">
      <h1>Places</h1>
    </div>
  </div>
  
  <div class="row gy-5">
    <% if @places %>
    <% for place in @places %>
      <div class="col">
        <div class="p-3 border bg-light"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></div>
      </div>
    <% end %>
    <% end %>
  </div>

  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3 border bg-light"><p><a href="/places/new">New place</a></p></div>
    </div>
  </div>

</div>