<div class="container">
  <div class="row gy-5">
    <div class="col-6">
      <h1>Places</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row gy-5">
    <% if @places %>   
        <% for place in @places %>
          <div class="col">
            <div class="p-3 border bg-light">
              <a href="/places/<%= place["id"] %>"><img width="100px" src="025-journal-black.png"><%= place["name"] %></a>
            </div>
          </div>
        <% end %>
        <div class="col">
          <div class="p-3 border bg-light">
            <a href="/places/new"><img width="100px" src="015-add-black.png">New place</a>
          </div>
        </div> 
    <% else %>
      <div class="col">
        <div class="p-3 border bg-light">
          Please <a href="/login">login</a> or <a href="/users/new">sign up</a>
        </div>
      </div>
    <% end %>
</div>