<div class="container px-4">

  <div class="row">
    <div class="col">
      <h1>New Place</h1>
    </div>
  </div>
  <img width="100px" src="../009-book-black.png">
  <div class="row">
    <div class="col"> 
      <%= form_with :model => @place do |form| %>
        <p>
          <%= form.label "name" %>
          <%= form.text_field "name" %>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>

</div>
